:root {
    --clr_n000: hsl(0 0% 0%);
    --clr_n045: hsl(0 0% 45%);
    --clr_n100: hsl(0 0% 100%);

    --clr_c210: hsl(210 100% 50%);

    --dm_spacing_050: 0.5rem;
    --dm_spacing_075: 0.75rem;
    --dm_spacing_100: 1rem;
    --dm_spacing_300: 3rem;
    --dm_spacing_600: 6rem;

    --dm_width: 55ch;

    --fw_regular: 400;
    --fw_bold: 700;

    --fs: 1rem;
}

@media (min-width: 32rem) {
    :root {
        --fs: 1.2rem;
    }
}

/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: var(--fs);
    font-weight: var(--fw_regular);
    font-style: normal;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    background: var(--clr_n100);
    color: var(--clr_n000);

    line-height: 1;
    -webkit-font-smoothing: antialiased;

    /* fade in animation */

    /* animation: fade_in ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

/* @keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* layout */

.wrapper {
    width: min(100% - calc(2* var(--dm_spacing_300)), var(--dm_width));
    margin-inline: auto;
    margin-block: var(--dm_spacing_300);
}

/* containers and style */

.container_inline > * {
    display: inline-block;
}

.container_inline > :not(:last-child) {
    margin-inline-end: var(--dm_spacing_050);
}

.container_text {
    line-height: 1.5;
}

.container_text > :not(:first-child) {
    margin-block-start: var(--dm_spacing_300);
}

.container_bordered {
    border: 2px solid var(--clr_n000);
    border-radius: var(--dm_spacing_050);
    padding: var(--dm_spacing_075);
}

.container_bordered :not(:first-child) {
    margin-block-start: var(--dm_spacing_050);
}

    /* container warning and styles */
    /* exclusive to work pages */

    .container_warning {
        border: 2px dashed var(--clr_n000);
        border-radius: var(--dm_spacing_050);
        padding: var(--dm_spacing_075);
        line-height: 1.5;
    }

    .container_warning details {
        position: relative;
    }

    .container_warning details summary::after {
        content: "+";
        position: absolute;
        right: 0;
    }

    .container_warning details[open] summary::after {
        content: "-";
    }

    .container_warning summary {
        list-style: none;
        cursor: pointer;
    }

    .container_warning summary::-webkit-details-marker {
        display: none;
    }

/* layout utilty */

.margin_block_start_050 { margin-block-start: var(--dm_spacing_050); }
.margin_block_start_075 { margin-block-start: var(--dm_spacing_075); }
.margin_block_start_100 { margin-block-start: var(--dm_spacing_100); }
.margin_block_start_300 { margin-block-start: var(--dm_spacing_300); }
.margin_block_start_600 { margin-block-start: var(--dm_spacing_600); }

.margin_block_end_050 { margin-block-end: var(--dm_spacing_100); }
.margin_block_end_075 { margin-block-end: var(--dm_spacing_075); }
.margin_block_end_100 { margin-block-end: var(--dm_spacing_100); }
.margin_block_end_300 { margin-block-end: var(--dm_spacing_300); }
.margin_block_end_600 { margin-block-end: var(--dm_spacing_600); }

    /* text utility */

    .text_bold { font-weight: var(--fw_bold); }
    .text_italic { font-style: italic; }

    .text_clr_045 { color: var(--clr_n045); }

/* low spec styles */

a {
    color: inherit;
    text-decoration: none;
}

/* links */

.link_head:hover,
.link_head:focus {
    text-decoration: underline;
}

    /* link_button and link_title used in conjunction */

    .link_button {
        border: 1px solid var(--clr_n000);
        border-radius: var(--dm_spacing_050);
        padding: var(--dm_spacing_075);
        display: block;
    }

    .link_button :not(.link_title) {
        margin-block-start: var(--dm_spacing_050);
    }

    .link_title {
        width: fit-content;
    }

    .link_title::after {
        content: " \2197";
    }

    .link_title:hover,
    .link_title:focus {
        text-decoration: underline;
    }

/* lists and list utility */

.list_style_none { list-style: none; }

.list_grid {
    --_grid_columns: 1;
    display: grid;
    grid-template-columns: repeat(var(--_grid_columns), 1fr);
    gap: var(--dm_spacing_100);
}

.list_padding {
    padding-inline-start: 2ch;
}

@media (min-width: 32rem) {
    .list_grid {
        --_grid_columns: 2;
    }
}

/* objects in works */

.container_object {
    border: 1px solid var(--clr_n000);
    border-radius: var(--dm_spacing_050);
    padding: var(--dm_spacing_075);
}

.container_object object {
    display: block;
    width: 100%;
    height: 12rem;
    border-radius: calc(var(--dm_spacing_050) / 2);
}

.container_object :not(:last-child) {
    margin-block-end: var(--dm_spacing_050);
}

.container_object .link_button {
    border-radius: calc(var(--dm_spacing_050) / 2);
}