:root {
    --clr_background: hsl(0 0% 100%);
    --clr_foreground: hsl(0 0% 0%);
    --clr_foreground-low: hsl(0 0% 0% / 0.1);

    --fs_100: 1.05rem;
    --fs_200: 2.3rem;

    --dm_width_text: 55ch;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: var(--fs_100);
    font-weight: normal;
    font-style:normal;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    background: var(--clr_background);
    color: var(--clr_foreground);

    line-height: 1;
    -webkit-font-smoothing: antialiased;

    /* fade in animation */

    /* animation: fade_in ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

/* @keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

:root {
    --spacing_100: 0.5rem;
    --spacing_200: 1rem;
    --spacing_300: 1.5rem;
    --spacing_400: 2rem;
}

/* page layout */

.wrapper {
    width: min(
        calc(100% - calc(2 * var(--spacing_400))), 
        var(--dm_width_text)
    );
    margin-block: var(--spacing_400);
    margin-inline: auto;
}

/* global styles */

a {
    color: var(--clr_foreground);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* header layout */

.header_page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing_400);
    height: min-content;
}

.header_page .logo {
    grid-column: span 2;
}

.header_page .img_decorative {
    width: 100%;
}

/* main layout */

.main_page {
    margin-block-start: var(--spacing_400);
}

.main_page > header {
    border-block-start: 1px solid var(--clr_foreground);
    padding-block: var(--spacing_100);
}

.main_page > .text_regions .text_region {
    border-block-start: 1px solid var(--clr_foreground);
    padding-block: var(--spacing_100);
}

.main_page > .text_regions .text_region:last-child {
    border-block-end: 1px solid var(--clr_foreground);
}

/* text utility */

.title {
    font-weight: bolder;
    /* font-size: 1.5em; */
}

/* paragraph style */

.text_region p {
    line-height: 1.5;
}

.text_region p:not(:last-child) {
    margin-block-end: var(--spacing_200);
}

/* list style */

.text_region ul {
    padding-inline-start: 2ch;
}

.text_region ul:not(:last-child) {
    margin-block-end: var(--spacing_200);
}

.text_region ul li {
    line-height: 1.5;
}

/* work index */

.list_container {
    margin-block-start: var(--spacing_400);
}

.list_container:first-child {
    margin-block-start: 0;
}

.list_title {
    border-block: 1px solid var(--clr_foreground);
    padding-block: var(--spacing_100);
}

.list_block li, .list_grid li {
    border-block-end: 1px solid var(--clr_foreground);
    padding-block: var(--spacing_100);
}

.list_items_multi li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing_100);
}

.list_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
}

/* works */

.work ul {
    padding-inline-start: 2ch;
}

.work ul:not(:last-child) {
    margin-block: var(--spacing_100);
}

.work_front_matter {
    border-block: 1px solid var(--clr_foreground);
    padding-block: var(--spacing_100);
}

.work_front_matter *:not(:last-child) {
    margin-bottom: var(--spacing_100);
}

.work_date {
    font-style: italic;
}

.work_warning {
    padding: var(--spacing_200);
    border: 3px dashed var(--clr_foreground);
    margin-block-start: var(--spacing_200);
    background-color: var(--clr_foreground-low);
}

.work_writing .work_content {
    padding-block-start: var(--spacing_100);
}

.work_writing .work_content p,
.work_warning {
    line-height: 1.5;
}

.work_writing .work_content p:not(:last-child) {
    margin-block-end: var(--spacing_200);
}

/* important media queries */

@media (min-width: 30rem) {
    :root {
        --fs_100: 1.30625rem;
        --fs_200: 2.9rem;
    }
}

@media (min-width: 70rem) {
    .wrapper {
        width: min(
            calc(100% - calc(2 * var(--spacing_400))), 
            calc(calc(var(--dm_width_text) * 2) + var(--spacing_400))
        );
    }

    .wrapper:has(> .main_page.work) {
        width: min(
            calc(100% - calc(2 * var(--spacing_400))), 
            var(--dm_width_text)
        );
    }

    .wrapper:has(> .main_page.work) .main_page {
        margin-block-start: var(--spacing_400)
    }

    .wrapper.grid_style_landing {
        display: grid;
        grid-template-columns: auto var(--dm_width_text);
        gap: var(--spacing_400);
    }

    .wrapper.grid_style_landing .header_page {
        position: sticky;
        top: var(--spacing_400);
    }

    .main_page {
        margin-block-start: 0;
    }
}