@import url('./fonts.css');

:root {
    color-scheme: light dark;
    --font-size: 1rem;
    --line-height1: 1.25;
    --line-height2: 1.75;
    --color-foreground: light-dark(hsl(0 0% 0%), hsl(0 0% 100%));
    --color-background: light-dark(hsl(0 0% 100%), hsl(0 0% 0%));
    --color-text-background: light-dark(hsl(0 0% 90%), hsl(0 0% 20%));
    --color-text-border: light-dark(hsl(0 0 80%), hsl(0 0% 30%));
    --spacer0: calc(var(--font-size) * 0.5);
    --spacer1: var(--font-size);
    --spacer2: calc(var(--font-size) * 3);
    --spacer3: calc(var(--font-size) * 5);
    --spacer4: calc(var(--font-size) * 10);
}

:root {
    font-family: 'Geist Mono', monospace;
}

body {
    /*width: min(180ch, 100%);*/
    margin: 0 auto;
    color: var(--color-foreground);
    background-color: var(--color-background);
    line-height: var(--line-height1);
}

a {
    color: var(--color-foreground);
    background-color: var(--color-background);
    --transition-time: 0.2s;
    -webkit-transition: all var(--transition-time) ease;
    -moz-transition: all var(--transition-time) ease;
    -o-transition: all var(--transition-time) ease;
    transition: all var(--transition-time) ease;
}

a:not(:has(img, svg)):hover {
    /* letter-spacing: 0.125em; */
    color: var(--color-background);
    background-color: var(--color-foreground);
}

@media (width < 40rem) {
    :root {
        font-size: 80%;
    }
}
