---
import '../styles/reset.css';
import '../styles/global.css';

interface Props {
    heading: string;
}

const { heading } = Astro.props;
const Heading = heading;
---

<header>
    <Heading><a href="/">SAREAU or SARA[H]</a></Heading>
    <span class="time">DAY HH:MM:SS</span>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        padding: var(--spacer1);
        position: sticky;
        top: 0;
        background-color: var(--color-background);
    }
    a {
        text-decoration: none;
    }
    .time {
        text-align: right;
    }
</style>

<script is:inline>
    setInterval(displayTime, 1000);
    function displayTime() {
        const days = ["SUNDAY", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY"]
        const date = new Date();

        let day = date.getDay();
        day = days[day]

        let hours = date.getHours().toString();
        let minutes = date.getMinutes().toString();
        let seconds = date.getSeconds().toString();

        hours = hours.length  > 1 ? hours : '0' + hours;
        minutes = minutes.length  > 1 ? minutes : '0' + minutes;
        seconds = seconds.length  > 1 ? seconds : '0' + seconds;

        document.querySelector('.time').innerHTML = day + ' ' + hours + ':' + minutes + ':' + seconds;
    }
</script>